.catalog {
  background: #fff;
  border-radius: 5px;
  padding: 10px 52px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -27px;
  z-index: 2;

  .category_title {
    color: #7C7284;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .3s all;

    &:hover {
      color: #f86384;
    }
  }

  .active {
    color: #f86384;
  }
}


.items_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -50px;
}

.items {
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;
  transition: .4s all ease-in-out;
  color: #21273d;
  background: #fff;
  border: none;

  &:hover {

    .items_img{
      transform: scale(1.06);
      box-shadow: 7px 7px 8px #444;
    }
    transform: scale(1.06);
    color: #f86384;
  }
}

.items_img {
  height: 286px;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: .4s all ease-in-out;
}

.items_body {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h3 {
    padding: 0;
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
  }
}