.basket {
  background: #fff;
  border-radius: 5px;
  padding: 10px 52px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -27px;
  z-index: 2;
  min-height: calc(100vh - 246px);

  h1 {
    color: #152b3c;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 50px;
    font-size: 30px;
  }
}

.item {
  border: 1px solid rgba(68, 68, 68, 0.52);
  height: 170px;
  background: #e9e8f8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  &:last-child {
    margin-bottom: 60px;
  }

  img {
    height: inherit;
    padding: 10px;
    width: 170px;
  }
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.info_container {
  display: flex;
  justify-content: space-between;

  h4 {
    width: 350px;

    &:last-child {
      width: 150px;
    }

    &:nth-child(2) {
      width: 100px;
    }

    &:nth-child(3) {
      text-align: center;
    }
  }
}

.info_container_item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;

  .p {
    width: 350px;
    height: 20px;

    &:last-child {
      width: 150px;
      padding: 0;
      height: 0;
      text-align: right;
    }

    &:nth-child(2) {
      width: 100px;
    }

    &:nth-child(3) {
      text-align: center;


      div {
        width: 200px;
        border-radius: 10px;
        border: 1px solid #0d6efd;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.counter_btn {
  padding: 5px 5px;
  width: 50px;

  &:first-child {
    border-radius: 6px 0 0 9px;
  }

  &:last-child {
    border-radius: 0 9px 9px 0;
  }
}

.btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  font-size: 20px;
  transition: .8s;
  cursor: pointer;
  max-width: 200px;
  position: relative;

}

.accept {

  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.accept_box {
  position: absolute;
  bottom: 30px;

  p {
    font-size: 18px;
    font-weight: 600;

  }

  button {
    float: right;
  }
}