.home {
  background: #fff;
  border-radius: 5px;
  padding: 10px 52px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -27px;
  z-index: 2;
}

.carousel {
  height: 370px;

}

.carousel_item {
  height: 370px;
}

.img {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info_container {

  h1 {
    color: #152b3c;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 50px;
    font-size: 30px;
  }

  p {
    //color: #295074;
    color: #022f49;
    font-weight: 600;
    font-size: 22px;
    max-width: 700px;
    width: 100%;
    margin-top: 50px;
    letter-spacing: .05rem;

    &:nth-child(even) {
      margin-left: calc(100% - 700px);
    }
  }

  h2 {
    color: #152b3c;
    font-weight: 700;
    margin-top: 120px;
    font-size: 30px;
  }
}

.name {
  font-style: italic;
  color: #734993;
  border-bottom: 1px solid #734993;
  transition: .5s;
  cursor: pointer;

  &:hover {
    color: #f86384;;
  }
}

.ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-top: 20px;

  li {
    //list-style: circle;
    font-size: 20px;
    font-weight: 700;
    max-width: 400px;
    width: 100%;
    font-style: italic;
    height: fit-content;
    margin-top: 30px;
    color: #020d2a;
    position: relative;

    &:before {
      content: url('../../../src/assets/svg/honor.svg');
      width: 30px;
      position: absolute;
      left: -35px;
    }
  }

}

.before1 {
  position: relative;

  &::before {
    content: url('../../../src/assets/svg/lamp1.svg');
    width: 180px;
    position: absolute;
    right: -70%;
  }
}

.before2 {
  position: relative;

  &::before {
    content: url('../../../src/assets/svg/lamp2.ico');
    width: 180px;
    position: absolute;
    left: -70%;
    top: 40px;
  }
}

.before3 {
  position: relative;

  &::before {
    content: url('../../../src/assets/svg/lamp3.svg');
    width: 180px;
    position: absolute;
    right: -70%;

  }
}

