.pay_info {
  background: #fff;
  border-radius: 5px;
  padding: 10px 52px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -27px;
  z-index: 2;

  h2 {
    margin: 30px 0 20px 0;
    color: #3e3e3e;
    font-weight: 600;
  }

  h3 {
    margin: 30px 0 20px 0;
    color: #3e3e3e;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }


  span{
    font-weight: 500;
    font-size: 16px;

  }

}